{% extends 'base.html.twig' %}

{% block main %}

    <div id="all">

        <div id="content">
            <div class="container">
                <div class="col-md-8">
                    <div class="box">
                        <h2 class="text-center text-muted">Are you sure your want to delete this product?</h2>
                        <hr/>
                        <div class="text-center">
                            <a class="btn btn-warning" href="{{ path('product_view', {id: id}) }}"><span class="fa fa-undo"></span> Cancel</a>
                            <a class="btn btn-danger" href="{{ path('confirm_delete', {id: id}) }}"><span class="fa fa-trash-o"></span> Delete</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

